# Python-Cache-Dateien
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VSCode spezifisch
.vscode/

# Anaconda Umgebung
*.conda
*.log
env/
venv/

# Temporäre Dateien
*.tmp
*.temp

# Systemdateien (Windows/Mac)
Thumbs.db
.DS_Store

# Große Datenfiles, wenn nicht gewünscht
*.zip
*.gz

# Modelldateien, wenn nicht gewünscht
*.joblib
